# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ======================
# Virtual Environment
# ======================
.venv/
venv/
env/

# ======================
# VS Code / IDE
# ======================
.vscode/
.vs/
.idea/

# ======================
# OS Files
# ======================
.DS_Store
Thumbs.db

# ======================
# Logs
# ======================
*.log

# ======================
# Dataset (Huge)
# ======================
Dataset/
data/
datasets/

# ======================
# Models (Large)
# ======================
models/*.h5
models/*.keras
models/*.pt
models/*.pth

# ======================
# Training outputs
# ======================
*.csv
*.png
*.jpg
*.jpeg

# ======================
# Jupyter
# ======================
.ipynb_checkpoints/

# ======================
# Cache
# ======================
.cache/

# ======================
# Secrets
# ======================
.env
.venv/
Dataset/
toShow/
models/*.keras
models/*.h5
.vs/

#=======================